{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div>
            <h1 class="header">All Posts</h1>
            <p>Username: {{ profile.username }}</p>
            <p>Posts: {{ posts_count }}</p>
            <p>Following: {{ following_count }}</p>
            <p>Followers: {{ followers_count }}</p>
            {% for post in posts %}
            <div>
                <p>{{ post.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}