body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

/* In your styles.css */
form {
    max-width: 100%;
}

/* Your existing styles for elements *inside* the form */
.top-box {
    background-color: aqua;
    display: block;
    position: relative;
    width: 600px;
    /* This is for the input field itself */
}

.bottom_box {
    background-color: yellow;
    /* You might want to give this a width too, or make it 100% like the label */
    width: 50%;
    display: block;
    position: relative;
}

.page_description {
    background-color: red;
    display: block;
    position: relative;
    width: 100%;
}