{% extends "layout.html" %} {% block title %} My Transactions {% endblock %} {% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Type</th>
            <th class="text-end">Share</th>
            <th class="text-end">Price</th>
            <th class="text-end">Time</th>
        </tr>
    </thead>

   <tbody>
    {% for transaction in transactions %}
    <tr>
        <td class="text-start">{{ transaction["symbol"].upper() }}</td>
        <td class="text-end">{{ transaction["type"]}}</td>
        <td class="text-end">{{ transaction["shares"]}}</td>
        <td class="text-end">{{ usd(transaction["price"]) }}</td>
        <td class="text-end">{{ transaction["time"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
