{% extends 'Calendar/layout.html' %}
{% load static %}

{% block body %}
<div class="main-view" class="flex flex-col flex-grow p-4 bg-white rounded-lg shadow-md">

    <!-- month calendar view-->
    <div id="monthView" class="month-view">
        <div class="add_event"></div>
        <div
            class="daysOfWeekHeader grid grid-cols-7 text-center font-medium text-gray-600 border-b border-gray-200 pb-2 mb-2">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <!-- Month calendar grid will be populated here -->
        <div id="monthGrid" class="month-grid">
            <!-- Month dates will be populated by JavaScript -->
        </div>
    </div>

    <!-- week calendar view-->
    <div id="weekView" class="week-view"></div>

    <!-- day calendar view-->
    <div id="dayView" class="day-view"></div>

</div>

{% endblock %}