.header_of_website {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #c60303;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}